html{
    /* font-size: 2px !important; */
}
html, body{
    position: relative;
    height: 100%;
    /* width: 100%; */
}
body{
    /* min-width: 1280px;
    max-width: 1980px; */
    max-width: 1980px; 
    margin: 0 auto;
    overflow: hidden;
}
.btn{
    
}
.font-size-16{
    font-size: 16px;
}
/* img {
    width: 100%;
  } */
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.p-1{padding:.25rem!important}
.border-none{
    border: none !important;
}
.block{
    display: block;
}
.inline-block {
    display: inline-block;
}
.overflow-hidden{
    overflow: hidden !important;
}
.m-auto{
    margin: 0 auto;
}
.size-18{
    font-size: 18px;
}
.center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
input,input:focus{

box-shadow: none !important;
}
.cursor{
    cursor: pointer;
}
.position-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.flex-1{
    flex: 1;
}
.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important}
.align-items-center{-ms-flex-align:center!important;align-items:center!important}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}
.justify-content-center{-ms-flex-pack:justify!important;justify-content:center!important}
.fl{
    float: left;
}
.mb-3{
    margin-bottom: 24px;
}
.pl-2 {
    padding-left: 6px;
}
.pr-2 {
    padding-right: 6px;
}
.border-radius-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.d-table{
    display: table;
}
.table-cell {
    display: table-cell;
}
.vertical-align-middle{
    vertical-align: middle
}
/* 弹出框背景色 */
.model {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

  }
/* 箭头动画 */
.arrows {
    width: 24px;
    height: 30px;
    bottom: 100px;
    left: 50%;
    margin-left: -12px;
    -webkit-animation: scrollAni 1s infinite;
    animation: scrollAni 1s infinite;
  }
@-webkit-keyframes scrollAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
}

@keyframes scrollAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
}
.txt{
    width: 100%;
    height: 100%;
}
.ml-18{
    margin-left: 18px;
}
.ml-12{
    margin-left: 12px;
}

/* 点击弹出框，动画 */

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  @keyframes zoomIn {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
}
    50% {
        opacity: 1; 
    
    }
  }


.animated {
    
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}


@media (prefers-reduced-motion),(print) {
    .animated {
        -webkit-animation: unset !important;
        -webkit-transition: none !important;
        animation: unset !important;
        transition: none !important
    }
}
