html, body{
    position: relative;
    height: 100%;
}
body{
    min-width: 1280px;
    max-width: 1980px;
    margin: 0 auto;
    overflow: hidden;
}
.btn{
    
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.p-1{padding:.25rem!important}
.border-none{
    border: none !important;
}
.block{
    display: block;
}
.inline-block {
    display: inline-block;
}
.overflow-hidden{
    overflow: hidden !important;
}
.m-auto{
    margin: 0 auto;
}
.size-18{
    font-size: 18px;
}
.center {
    text-align: center;
}
input,input:focus{

box-shadow: none !important;
}
.cursor{
    cursor: pointer;
}
.position-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important}
.align-items-center{-ms-flex-align:center!important;align-items:center!important}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}
.mb-3{
    margin-bottom: 24px;
}
.pl-2 {
    padding-left: 6px;
}
.pr-2 {
    padding-right: 6px;
}
/*  */

/* m1 */

/* 
 */
