.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0}
.modal.fade .modal-dialog {
    transition:-webkit-transform .3s ease-out;
}
.modal-dialog{-webkit-transform:scale(1.02);transform:scale(1.02)}